@use './variables' as *;

// CARDS

main .movies .card,
main .tvShows .card {
    height: 300px;
    aspect-ratio: 2/3;
    z-index: 2;

    .info {
        background-color: black;

        &:hover {
            opacity: 1;
            transition: 1s;
            overflow-y: auto;

        }

        &:not(:hover) {
            opacity: 0;
            transition: 1s;
        }
    }

    ;

    img.poster {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    ;

    img.lang {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}


// INFO MODAL

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;

    .infoModal {
        height: 80vh;

        img.poster {
            aspect-ratio: 2/3;
        }
    }
}