@use './variables' as *;

main .movies .card,
main .tvShows .card {
    height: 300px;
    width: calc(100% / 5);
    overflow: visible;

    img.poster {
        position: absolute;
        top: 0px;
        z-index: 2;
        width: 100%;

        &:hover{
            opacity: 0;
            transition: 1s;
        }

        &:not(:hover){
            opacity: 1;
            transition: 1s;
        }
    };

    img.lang {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 1;
    }   
}