@use './variables' as *;

main .movies .card,
main .tvShows .card {
    height: 300px;
    width: calc(100% / 5);

    .info {
        background-color: black;

        &:hover {
            opacity: 1;
            transition: 1s;
            overflow-y: auto;

        }

        &:not(:hover) {
            opacity: 0;
            transition: 1s;
        }
    }

    ;

    img.poster {
        position: absolute;
        top: 0px;
        width: 100%;
    }

    ;

    img.lang {
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 1;
    }
}