@use './variables' as *;

#app {
    min-height: 100vh;
}

// STYLE HEADER

header {

    img.logo {
        height: 3rem;
    }

}

// STYLE MAIN

main {
    height: fit-content;
}

main .movies,
main .tvShows {
    .title {
        height: 40px;
    }

    .results {
        height: 300px;
        overflow: hidden;
    }
}